<div>
  <form (ngSubmit)="signIn(signInForm.value)" [formGroup]="signInForm">
    <input formControlName="username" name="username" placeholder="Username">
    <input formControlName="email" name="email" placeholder="Email">
    <input formControlName="cpf" name="cpf" placeholder="CPF">
    <input formControlName="password" name="password" placeholder="Password">
  <p></p>
    <button type="submit" [disabled]="!signInForm.valid">Sign In</button>
  
  </form>

  <button (click)="resetFields()">Clean Form</button>

</div>
