<div>
  <form (ngSubmit)="signUp(personIdentifierForm.value)" [formGroup]="personIdentifierForm">
    <!-- <input formControlName="username" placeholder="Username" name="username" > -->
    <input formControlName="cpf" placeholder="CPF" name="cpf">
    <input formControlName="dateOfBirth" placeholder="Data de Nascimento" name="dateOfBirth" type="date">
    <form [formGroup]="registrationForm" class="" *ngIf="isValidPerson()">
      <input formControlName="password" placeholder="Password" name="password">
      <input formControlName="password_confirmation" placeholder="Confirm Password" name="password_confirmation">
      <input formControlName="email" placeholder="Email" name="email">
      <input formControlName="email_confirmation" placeholder="Confirm Email" name="email_confirmation">
    </form>

    <!-- <div class="alert" *ngIf="!personIdentifierForm.controls['username'].valid && signUpForm.controls['username'].touched "> Div alert</div> -->
    <p></p>
    <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  </form>
  <button routerLink='' type="button" name="button">Login</button>
  <button (click)="resetFields()">Clean Values</button>
</div>
